<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= subject.evaluation %>
  </p>

  <p>
    <strong>Unit value:</strong>
    <%= subject.unit_value %>
  </p>

</div>
